{% load media %}
<!doctype html>
<html lang="sl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="slovio dictionary">
  <meta name="description" content="Slovio jazika siet stranka">
  <link rel="stylesheet" type="text/css" href="{% media_prefix %}slovio.css">
  <link rel="icon" type="image/png" href="{% media_prefix %}icon.png">
  <link rel="icon" sizes="128x128" type="image/png" href="{% media_prefix %}logo.png">
  <link rel="search" type="application/opensearchdescription+xml" title="Slovio search" href="{% url 'opensearch' %}">
  <title>{% block title %}Slovio Slovnik{% endblock %}</title>
</head>
<body>
  <div id="head">
    <div id="logo">
      <a href="/"><img src="{% media_prefix %}logo.png" width="128" height="128" alt="S"></a>
    </div>
    <div id="main">
      <h1><a href="/i">Slovio Slovnik</a></h1>
        {% block search %}{% endblock %}
    </div>
  </div>
        {% block results %}{% endblock %}
  <div id="footer">
    <div id="cred"><a href="http://www.slovio.com/">Slovio jazika</a> siet stranka</div>
    <div id="auth"><span class="word">&hearts;</span> Goran Tal</div>
  </div>
</body>
</html>
