{% extends 'base.html' %}

{% block title %}{{ block.super }}{% if q %}: {{ q }}{% endif %}{% endblock %}

{% block search %}

  <form id="form" method="get" action="s">
    <div id="search">
	  <input type="text" id="query" name="q" size="24" maxlength="32" value="{{ q }}"{% if not q %} autofocus{% endif %}>
	</div>
	<div id="action">
	  <input type="submit" name="m" value="Iskat">
	  <input type="submit" name="d" value="Naiti">
    </div>
  </form>

{% endblock %}
{% block results %}

{% if result.matches %}
  <div class="match results">
  {% for term in result.matches %}
    <a href="?q={{ term|urlencode }}&amp;l={{ link|urlencode }}" title="Pokazit {{ term }}">{{ term }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  </div>
{% endif %}

{% if result.definitions %}
  <div class="define results">
  {% for df in result.definitions %}
    <dl class="entry">
{{ df.fmt|safe }}
    </dl>
  {% endfor %}
  </div>
{% elif result.desc %}
  <div class="info results">
    <div>
{{ result.desc|linebreaksbr }}
    </div>
  </div>
{% elif result.error %}
  <div class="error results">
    Ne Naideno
  </div>
{% endif %}

{% endblock %}
