html {
  font-family: sans-serif;
}

body {
  font-size: 100%;
  background-color: white;
  color: #666;
  max-width: 640px;
  margin: 0 auto;
}

h1 { font-weight: normal; }
img { border: 0; }
a { color: #369; text-decoration: none; }
a:hover { text-decoration: underline; }

#search input {
  line-height: normal;
  padding: 7px;
  border: thin solid #999;
  outline: 0;
}

#action input {
  line-height: normal;
  margin: 15px 5px;
  padding: 5px 10px;
  border: thin solid #369;
  background-color: #369;
  color: white;
  outline: 0;
  cursor: pointer;
}

#search input:focus,
#search input:hover {
  border-color: #369;
}

#action input:focus,
#action input:hover {
  border-color: #369;
  background-color: #69c;
}

dl { margin-bottom: 1em; }
dt { margin-bottom: .2em; }
dd { margin-left: 0; }
.word { color: #933; }
.term { color: #393; }
.dscr { color: #369; font-weight: bold; }
.abrv { color: #f63; }

#head { margin: 20px 0; }
#logo { float: left; }
#main h1 { margin-bottom: 15px; }
#logo img { margin: 10px 0 0 20px; }
#main { text-align: center; }

#cred, #auth {
  display: inline;
  white-space: nowrap;
}

.results {
  border-top: solid 1px #999;
  padding: 20px;
  clear: both;
}
div.error {
  padding: 30px 20px;
  color: #933;
}

#footer {
  text-align: center;
  border-top: solid 1px #999;
  margin-top: 30px;
  padding: 20px;
  clear: both;
}

/* small screens */
@media (max-width: 640px) {
  #logo img { display: none; }
  input { max-width: 240px; }
}
